/* =========================
   General Reset & Base 
   ========================= */
* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
  background-color: #f8f9fa;
}

/* =========================
   Header
   ========================= */
header {
  z-index: 50;
  top: 0;
  background: #f8f9fa;
  color: #fff;
  position: sticky;
}

header .bg {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}
header .bg > div {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

header span {
  font-size: 2rem;
  font-weight: bold;
  color: #111;
  font-family: "play-fair", serif;
  vertical-align: middle;
}

header .bg a {
  align-items: center;
  display: flex;
  text-decoration: inherit;
}
@media (min-width: 768px) {
  header nav {
    display: flex;
  }
}

header nav {
  gap: 1.2rem;
  vertical-align: middle;
}

header nav a {
  color: #111;
  transition: color 0.3s;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  position: relative;
}

header nav a:hover {
  color: #9cafaa;
  text-decoration: underline;
}

header nav a.active {
  color: #9cafaa;
  text-decoration: underline;
}

/* =========================
   Home Section


   ========================= */
.home-content {
  background: url("Assets/warehouse.jpg")
    center/cover no-repeat;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #111;
  padding: 2rem;
}

.home-content .content h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.home-content .buttons button {
  padding: 0.7rem 1.5rem;
  margin: 0.5rem;
  border: none;
  background: #37353e;
  color: #fff;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.home-content .buttons button:hover {
  background: transparent;
  color: #111;
  font-size: large;
  font-weight: bold;
}

/* =========================
   Featured Products
   ========================= */
.featured-products .container {
  margin: 20px;
  padding: auto;
  text-align: center;
}
.featured-products .products {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}
.featured-products .products > div {
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-products h2 {
  font-size: 2rem;
  margin: auto;
}

.featured-products span {
  color: #9cafaa;
}

.featured-products .img img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.discription {
  margin: 1rem 0;
}

.price-buy {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price-buy span {
  font-weight: bold;
  color: #9cafaa;
  font-size: 1.2rem;
}

.price-buy button {
  background: #111;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.price-buy button:hover {
  background: #9cafaa;
}

.featured-products .view-all button {
  padding: 0.7rem 1.5rem;
  margin: 1.5rem;
  border: none;
  background: #37353e;
  color: #fff;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
/* =========================
   Story Section
   ========================= */
.story {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.story .padding {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.story .grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
}
.story .img {
  border-radius: 0.5rem;
  overflow: hidden;
}

.story .img img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.story .content {
  flex: 2;
}

.story .content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.story span {
  color: #9cafaa;
}

@media (max-width: 768px) {
  .story > div > div {
    flex-direction: column;
    text-align: center;
  }

  .story .img {
    justify-content: center;
  }
}

/* =========================
   Feedback
   ========================= */
.feedback {
  background: #f1f1f1;
  padding: 3rem 2rem;
  text-align: center;
}
.feedback span {
  color: #9cafaa;
}

.feedback h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.feedback blockquote {
  font-style: italic;
  margin-bottom: 1.5rem;
  color: #555;
}

.feedback img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.feedback h3 {
  font-weight: bold;
}

/* =========================
   Footer
   ========================= */
footer {
  background: #111;
  color: #fff;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

footer h3 {
  margin-bottom: 1rem;
  color: #eeefe0;
}

footer p,
footer a {
  color: #bbb;
  font-size: 0.9rem;
}

footer a {
  text-decoration: none;
  display: block;
  margin: 0.3rem 0;
  transition: color 0.3s;
}

footer a:hover {
  color: #fff;
}

/* =========================
   Responsive
   ========================= */
@media (max-width: 768px) {
  .story {
    flex-direction: column;
    text-align: center;
  }
  .story .img img {
    margin: 0 0 1.5rem 0;
  }
}

/* Procuts page */

.head .root {
  background-color: #205781;
  text-align: center;
  color: #f6f8d5;
}
.head .content {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.head .content h1 {
  font-family: "play-fair", serif;
  font-size: 2.25rem;
}
.head .content p {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

.button-list {
  background-color: #d2d5d8;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.button-list .root {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.button-list .root .buttons {
  gap: 0.75rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.button-list button {
  border-radius: 9999px;
  border-style: hidden;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  cursor: pointer;
}

.button-list .all {
  background-color: #205781;
}

.button-list button:hover {
  background-color: transparent;
}
.products {
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.products .bg {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.products .bg .grid {
  display: grid;
  gap: 2rem;
}
@media (min-width: 1024px) {
  .products .bg .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  .products .bg .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.products .bg .grid > div {
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products .bg .grid .product .title .head {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.products .product {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.products .product:hover {
  transform: scale(1.05); /* example effect */
}

.products .head span {
  color: #205781;
  background-color: #d2d5d8;
  border-radius: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.products .bg .grid img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.products .bg .grid .product button {
  border-radius: 9999px;
  border-style: hidden;
  background-color: #205781;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.products .bg .grid .product button:hover {
  background-color: transparent;
  font-weight: bold;
}
.products .bg .grid .product .title .price span {
  color: #205781;
  font-size: large;
  font-weight: bold;
}

.products .bg .grid .product .title .price {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.mission .v-grid {
  background-color: #205781;
  text-align: center;
  color: #111;
}
.mission .v-grid {
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.mission .v-grid h2 {
  font-family: "play-fair", serif;
  font-size: 2.25rem;
}
.mission .v-grid h2 span {
  color: #9cafaa;
}
.mission .v-grid p {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}
.mission .h-grid {
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 2rem;
  display: grid;
}

.mission .h-grid > div {
  background: #fff;
  color: #205781;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mission .h-grid h3 {
  font-family: "Playfair Display", serif;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.mission .h-grid p {
  font-family: "Inter", sans-serif;
}

.mission .h-grid .svg {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #205781;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 1rem auto;
}
.mission .h-grid svg {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  color: #fff;
}
/*
Contact us page
*/

main .info-form {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
main .info-form .padding {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
main .info-form .grid {
  display: grid;
  gap: 3rem;
}
@media (min-width: 1024px) {
  main .info-form .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
main .info-form .info h2 span {
  color: #d2d5d8;
}
main .info-form .info h2,
span {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-family: "play-fair", serif;
}
main .info-form .info p,
address {
  font-family: Inter, sans-serif;
  margin-bottom: 2rem;
}
main .info-form .info .top .item {
  /* margin-top: 24px; */
  align-items: flex-start;
  display: flex;
}
main .info-form .info .top .item .svggg {
  background-color: #205781;
  color: #fff;
  margin-right: 1rem;
  padding: 0.75rem;
  border-radius: 850px;
}
main .info-form .info .top .item .svggg svg {
  display: block;
}
main .info-form .info .top .item h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
main .info-form .info .top .item h3 {
  font-family: "play-fair", serif;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
main .info-form .info .top .item p,
address,
a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  color: #555;
}
main .info-form .info .bottom {
  margin-top: 3rem;
}
main .info-form .info .bottom ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Inter", sans-serif;
}

main .info-form .info .bottom li {
  justify-content: space-between;
  display: flex;
}
main .info-form .info .bottom h3 {
  font-family: "play-fair", serif;
  font-size: 1.875rem;
}
main .info-form .info .bottom span {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  color: #555;
}

main .info-form .form {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);

  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 0.5rem;
  padding: 2rem;
  max-height: fit-content;
}
main .info-form .form div {
  margin-top: 24px;
}
main .info-form .form h2 {
  font-family: "play-fair", serif;
  font-size: 1.875rem;
  margin-top: 0;
}

main .info-form .form label {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  display: block;
  margin-bottom: 0.25rem;
}
main .info-form .form input,
textarea {
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-width: 1px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  display: flex;
  border-style: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
main .info-form .form textarea {
  height: 10rem;
}
main .info-form .form button {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  height: 2.5rem;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border-radius: 0.5rem;
  border-style: none;
  background-color: #205781;
  font-weight: bold;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
main .info-form .form button {
  position: relative;
  overflow: hidden;
}

main .info-form .form button::after {
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  opacity: 0;
  transition: opacity 0.15s;
}

main .info-form .form button:hover::after {
  opacity: 0.2;
  cursor: pointer;
}

main .find-us {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #9cafaa;
}
main .find-us .grid {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
main .find-us .grid h2 {
  font-family: "play-fair", serif;
  font-size: 1.5rem;
}
main .find-us .grid iframe {
  background-color: #7e8a87;
  border-radius: 1rem;
}
